// overrules the default settings present in nextflow.config
// increased resources SP@NC 2025-02-21

params {
  dada2_cpu = 84
  publish_dir_mode = "copy"
}

process {

    withLabel: cpu_def {
        cpus = 4
        memory = 32.GB
    }

    withLabel: cpu8 {
        cpus = 8
        memory = 64.GB
    }

    withLabel: cpu32 {
        cpus = 32
        memory = 256.GB
    }

    withName: dada2_denoise {
        memory = 256.GB
    }

}

// Generate report
report {
  enabled = true
  overwrite = true
  file = "$params.outdir/report/report.html"
}

// Timeline
timeline {  
  enabled = true  
  overwrite = true
  file = "$params.outdir/report/timeline.html"
}

// DAG
dag {
  enabled = true
  overwrite = true
  file = "$params.outdir/report/dag.html"
}
